.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');


body {
  align-items: center;
  text-align: center;
}

button {
  margin: 10px;
  background-color: orange !important;
  box-shadow: 3px 3px 10px grey;
}

.input {
  max-width: 600px;
}

input.button {
  margin: 10px;
  background-color: orange !important;
  box-shadow: 3px 3px 10px grey;
}

button:hover {
  background-color: darkorange !important;
}

.logo {
  font-family: 'Comfortaa', cursive;
}

.delete-btn {
  margin: 10px;
  box-shadow: 3px 3px 10px grey;
  background-color: purple !important;
}

.delete-btn:hover {
  margin: 10px;
  box-shadow: 3px 3px 10px grey;
  background-color: darkslateblue!important;
}

.darkmode-btn {
  margin: 10px;
  background-color: purple !important;
  box-shadow: 3px 3px 10px grey;
}

.darkmode-btn:hover {
  margin: 10px;
  background-color: darkslateblue !important;
  box-shadow: 3px 3px 10px grey;
}

.dark {
  background: #222222;
  color: white;
}

.dark button {
  box-shadow: 3px 3px 10px black;
}

.dark div.posts {
  box-shadow: 7px 7px 15px black !important;
  border: 3px solid purple !important;
}

.single-post-div {
  text-align: center;
  border: 3px solid orange;
  width: 80%;
  margin: 30px auto;
  box-shadow: 7px 7px 15px grey;
}

.dark .single-post-div {
  text-align: center;
  border: 3px solid purple !important;
  width: 80%;
  margin: 30px auto;
  box-shadow: 7px 7px 15px black;
}

.link-color {
  color: purple;
}

.dark .link-color {
  color: orange;
}

.dark .link-color:hover {
  color: white;
}